# Global ignores
*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.sqlite3
*.db
*.log
.env
.env.*
.DS_Store
Thumbs.db
.idea/
.vscode/
.eggs/
*.egg-info/
build/
dist/
*.mo
*.pot
/media/
/node_modules/
TestResults.xml

# Project specific ignores
sistema_negocio/venv/
